<p id="notice"><%= notice %></p>

<p>
  <strong>Timestamp:</strong>
  <%= @submission.timestamp %>
</p>

<p>
  <strong>Name:</strong>
  <%= @submission.name %>
</p>

<p>
  <strong>Gist address:</strong>
  <%= @submission.gist_address %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
